@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Outfit', sans-serif;
}

.fondo {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/fondo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}